{% extends 'base.html' %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container-fluid">
    <a class="navbar-brand"><h2 class="text-danger">CovidTS</h2></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'patients' %}">Patients</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'ubications' %}">Ubications</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="settings.html">Settings</a>
        </li>
    </ul>
    </div>
</div>
</nav>

<div class="patient-list mt-5 mb-5">

    <div class="content">

    <div class="index mt-5">
        <div class="login-index">

        <h1 class="mb-4">Add Patient</h1>
            <form method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <label for="dni">DNI</label>
                    <input type="number" name="dni" class="form-control" id="id_dni" maxlength="20" required>
                </div>

                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name" class="form-control" id="id_first_name" maxlength="20" required>
                </div>

                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name" class="form-control" id="id_last_name" maxlength="30" required>
                </div>

                <div class="form-group">
                    <label for="birth">Birth</label>
                    <input type="date" name="birth" class="form-control" id="id_birth" required>
                </div>

                <div class="form-group">
                    <label for="risk">Risk patient?</label>
                    <input type="checkbox" name="risk" class="form-control" id="id_risk">
                </div>

                <div class="form-group">
                    <label for="status">Patient status</label>
                    <select class="form-select" aria-label="Default select example" required name="status" id="id_status">
                        {% for u in form.status %}
                        {{u}}
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="ubication">Ubication</label>
                    <select class="form-select" aria-label="Default select example" required name="ubication" id="id_ubication">
                        {% for u in form.ubication %}
                        {{u}}
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="supervisor">Supervisor</label>
                    <select class="form-select" aria-label="Default select example" required name="supervisor" id="id_supervisor">
                        {% for u in form.supervisor %}
                        {{u}}
                        {% endfor %}
                    </select>
                </div>

                <button type="submit" class="btn btn-danger">Add patient</button>
            </form>

        </div>
    </div>

    </div>

</div>

{% endblock content %}