{% extends 'base.html' %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container-fluid">
    <a class="navbar-brand"><h2 class="text-danger">CovidTS</h2></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'patients' %}">Patients</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'ubications' %}">Ubications</a>
        </li>
    </ul>
    </div>
</div>
</nav>

<div class="alert alert-danger" role="alert">54% infected patients</div>

<div class="index mt-5">

    <div class="content">
    <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Ubication</th>
            <th scope="col">% infected</th>
            <th scope="col">% vaccinated</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">1</th>
            <td>Rosario</td>
            <td>23%</td>
            <td>3%</td>
            </tr>
            <tr>
            <th scope="row">2</th>
            <td>Buenos Aires</td>
            <td>12%</td>
            <td>6%</td>
            </tr>
            <tr>
            <th scope="row">3</th>
            <td>Corrientes</td>
            <td>4%</td>
            <td>1%</td>
            </tr>
        </tbody>
    </table>
    </div>

    <div class="add-section">
        <div><a href="{% url 'add-patient' %}" class="add-button btn btn-danger">Add patient</a></div>     
        <div><a href="{% url 'add-ubication' %}" class="add-button btn btn-danger">Add ubication</a></div>
    </div>

</div>

<div class="index mt-5 mb-5">

    <figure class="pie-chart" 
    style="background: radial-gradient(circle closest-side,transparent 66%,#F8F9FA 0),
                       conic-gradient(#90be6d 0, #90be6d {{vaccinated_porcentage}}%, 
                                      #f8961e 0, #f8961e {{infected_porcentage}}%, 
                                      #f94144 0, #f94144 {{uci_porcentage}}%, 
                                      #577590 0, #577590 100%">
        <h2>Patients by status</h2>
        <figcaption>
            Vaccinated {{ vaccinated }}<span style="color:#90be6d"></span><br>
            Infected {{ infected }}<span style="color:#f8961e"></span><br>
            UCI {{ uci }}<span style="color:#f94144"></span><br>
            Recuperated {{ recovered }}<span style="color:#577590"></span><br>
        </figcaption>
    </figure>

    <figure class="pie-chart" 
    style="background: radial-gradient(circle closest-side,transparent 66%,#F8F9FA 0),
                       conic-gradient(#048ba8 0, #048ba8 {{infected_one_porcentage}}%, 
                                      #16db93 0, #16db93 {{infected_two_porcentage}}%, 
                                      #efea5a 0, #efea5a {{infected_three_porcentage}}%, 
                                      #f29e4c 0, #f29e4c 100%">
        <h2>Infected by ubication</h2>
        <figcaption>
            {{ infected_by_ubication.0.city }} {{ infected_by_ubication.1 }}<span style="color:#048ba8"></span><br>
            {{ infected_by_ubication.2.city }} {{ infected_by_ubication.3 }}<span style="color:#16db93"></span><br>
            {{ infected_by_ubication.4.city }} {{ infected_by_ubication.5 }}<span style="color:#efea5a"></span><br>
            Otros {{ other_infected }}<span style="color:#f29e4c"></span><br>
        </figcaption>
    </figure>

</div>

{% endblock content %}