{% extends 'base.html' %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container-fluid">
    <a class="navbar-brand"><h2 class="text-danger">CovidTS</h2></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'patients' %}">Patients</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'ubications' %}">Ubications</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="settings.html">Settings</a>
        </li>
    </ul>
    </div>
</div>
</nav>

<div class="alert alert-danger" role="alert">54% infected patients</div>

<div class="index mt-5">

    <div class="content">
    <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Ubication</th>
            <th scope="col">% infected</th>
            <th scope="col">% vaccinated</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">1</th>
            <td>Rosario</td>
            <td>23%</td>
            <td>3%</td>
            </tr>
            <tr>
            <th scope="row">2</th>
            <td>Buenos Aires</td>
            <td>12%</td>
            <td>6%</td>
            </tr>
            <tr>
            <th scope="row">3</th>
            <td>Corrientes</td>
            <td>4%</td>
            <td>1%</td>
            </tr>
        </tbody>
    </table>
    </div>

    <div class="add-section">
        <div><a href="{% url 'add-patient' %}" class="add-button btn btn-danger">Add patient</a></div>     
        <div><a href="{% url 'add-ubication' %}" class="add-button btn btn-danger">Add ubication</a></div>
    </div>

</div>

<div class="index mt-5 mb-5">

    <figure class="pie-chart">
        <h2>Patients % by status</h2>
        <figcaption>
            Coal 38<span style="color:#4e79a7"></span><br>
            Natural Gas 23<span style="color:#f28e2c"></span><br>
            Hydro 16<span style="color:#e15759"></span><br>
            Nuclear 10<span style="color:#76b7b2"></span><br>
            Renewable 6<span style="color:#59a14f"></span><br>
            Other 7<span style="color:#edc949"></span>
        </figcaption>
    </figure>

    <figure class="pie-chart">
        <h2>Infected % by ubication</h2>
        <figcaption>
            Coal 38<span style="color:#4e79a7"></span><br>
            Natural Gas 23<span style="color:#f28e2c"></span><br>
            Hydro 16<span style="color:#e15759"></span><br>
            Nuclear 10<span style="color:#76b7b2"></span><br>
            Renewable 6<span style="color:#59a14f"></span><br>
            Other 7<span style="color:#edc949"></span>
        </figcaption>
    </figure>

</div>

{% endblock content %}