{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container-fluid">
    <a class="navbar-brand"><h2 class="text-danger">CovidTS</h2></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'patients' %}">Patients</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="">Ubications</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="settings.html">Settings</a>
        </li>
    </ul>
    </div>
</div>
</nav>

<div class="alert alert-danger" role="alert">54% infected patients</div>

<div class="patient-list mt-5">

    <div class="content">

        <div class="patient-list-add mb-5">
            <div><a href="{% url 'add-ubication' %}" class="add-button btn btn-danger">Add ubication</a></div> 
        </div>

        {% if filter %}
            <form action="" method="get" class="form form-inline">
                {% bootstrap_form filter.form layout='inline' field_class="mr-3" %}
                {% bootstrap_button 'Filter' button_class="btn-secondary" %}
            </form>
        {% endif %}

        <br>

        {% render_table table %}

    </div>

</div>

{% endblock %}